body
    color: $dark-color
    background-color: $light-color
        
header
    z-index: 1000
    position: fixed
    width: 100%
    text-align: right

.logo
    z-index: 1000
    position: relative
    float: left
    padding: 12px 15px
    text-align: left
    img
        max-width: 200px
        height: auto

nav
    z-index: 10
    position: relative
    padding: 15px 80px
    ul
        z-index: 100

.nav-background
    z-index: 0
    position: absolute
    top: 0px
    left: 0px
    width: 0%
    height: 100px
    background-color: #fff
    transition: all 0.5s ease

.nav-border
    z-index: 0
    position: absolute
    bottom: 0px
    left: 0px
    width: 0%
    height: 10px
    background-color: $primary-color
    transition: all 0.5s ease

.fp-viewing-company-0, .fp-viewing-company-1, .fp-viewing-services-0, .fp-viewing-services-1, .fp-viewing-contacts-0, .fp-viewing-contacts-1
    .nav-background
        width: 100%
        transition: all 0.5s ease
    .nav-border
        width: 80%
        transition: all 0.5s ease

#menu li
    display: inline-block
    margin: 20px 35px
    color: #000
    //background:#fff
    //background: rgba(255,255,255, 0.5)
    -webkit-border-radius: 10px
            border-radius: 10px

#menu li.active
    //background: #666
    //background: rgba(0,0,0, 0.5)
    color: #000

#menu li a
    text-decoration: none
    color: #000

#menu li.active a:hover
    color: #000

#menu li:hover
    //background: rgba(255,255,255, 0.8)

#menu li a,
#menu li.active a
    padding: 9px 18px
    display: block
    color: grey

#menu li.active a
    color: #000

#menu
    position: relative
    top: 0px
    left: 0px
    //height: 40px
    width: 100%
    padding: 0px
    margin: 0px
    font-size: 14px
    text-transform: uppercase

.container
    display: grid
    grid-gap: 15px

.box
    //padding: 50px
    padding: 5vh
    //background-color: lightblue

h1
    //font-size: 40px
    font-size: 5vmin
    //margin-bottom: 35px
    margin-bottom: 3vh
    font-weight: bold

h2
    font-size: 30px
    font-weight: bold
p
    //font-size: 22px
    font-size: 2.3vmin
    line-height: 4vmin

button
    float: right
    //padding: 15px 35px
    padding: 1.5vmin 3vmin
    //font-size: 16px
    font-size: 2vmin
    font-weight: bold
    background: none
    border: 2px solid $primary-color
    cursor: pointer

.home
    h1
        margin: 0px
        //font-size: 150px
        font-size: 16vmin
        font-weight: bold
    h2
        //font-size: 55px
        font-size: 5vmin
        font-weight: lighter
    p
        float: left
        padding: 10px 0px

.container.home
    //grid-template-columns: 58% 42%
    //grid-auto-rows: 100% 20%
    grid-template-columns: 58vw 42vw
    grid-auto-rows: 80vh 20vh
    .box
        padding: 5vh 0px
    
.welcome-text, .call-to-action
    margin: 0px auto
    width: 70%

.box.bottom
    border-top: 2px solid gray
    
.welcome-text
    align-self: center
    
.welcome-img
    position: absolute
    top: 0px
    right: 0px
    bottom: 0px
    width: 42%
    background-image: url(../images/welcome-img.jpg)
    background-repeat: no-repeta
    background-size: 160%
    background-position: 0px 50%

.text
    background-color: #fff

.container.company
    margin: 0px auto
    width: 80%
    grid-template-columns: 5fr 6fr
    .text
        //grid-row-end: span 1
        p
            //margin-bottom: 35px
            margin-bottom: 3vh
        span p
            float: right
            //margin-top: 100px
            margin-top: 5vh
            margin-bottom: 0px
            font-weight: bold
    .img
        grid-row-end: span 14
        background-image: url(../images/working.jpg)
        background-size: cover
        background-repeat: no-repeta

.container.security
    margin: 0px auto
    width: 80%
    grid-template-columns: 5fr 6fr
    span p
        margin-bottom: 0px
        font-weight: bold
    .img
        //grid-row-end: span 14
        grid-column: 2 / 3
        grid-row: 1 / 4
        background-image: url(../images/security.jpg)
        background-size: 150%
        background-position: top right
        background-repeat: no-repeta

.container.services
    margin: 0px auto
    width: 80%
    grid-template-columns: 5fr 6fr
    span p
        //margin-top: 100px
        margin-top: 5vh
        margin-bottom: 0px
        font-weight: bold
    .img
        grid-row-end: span 2
        //grid-column: 2 / 3
        //grid-row: 1 / 4
        background-image: url(../images/transport.jpg)
        background-size: cover
        background-position: top right
        background-repeat: no-repeta

.container.contact
    margin: 0px auto
    width: 80%
    grid-template-columns: 6fr 6fr
    grid-template-rows: 1fr 1fr 1fr
    .text
        //grid-row-end: span 1
        h1
            align-self: center
            margin-bottom: 0px
        p
            margin-bottom: 0px
        span p
            float: right
            //margin-top: 100px
            margin-top: 5vh
            margin-bottom: 0px
            font-weight: bold
    .main
        grid-row: 2 / 3
    .operational
        grid-row: 3 / 4
    .img
        //grid-row-end: span 14
        grid-column: 1 / 2
        grid-row: 2 / 4
        background-image: url(../images/workers.jpg)
        background-size: 100%
        background-position: 50% 8%
        background-repeat: no-repeta

.container.description
    margin: 0px auto
    width: 50%
    //grid-template-rows: 2fr 1fr
    ul
        width: 50%
        font-size: 2.3vmin
        line-height: 4vmin
    .right
        float: right
    .left
        float: left
    span p
        margin-bottom: 0px
        font-weight: bold

.direction
    z-index: 100
    position: absolute
    right: 0px
    bottom: 0px
    padding: 15px 0px
    width: 100%
    background-color: #fff
    .stiky-contact
        position: relative
        padding: 0px 50px
        p
            float: left
            padding-top: 10px

#section1, #section2   
    .container
        margin-top: 100px !important

#section3
    .container
        margin-top: 20px !important