header
    z-index: 1000
    position: fixed
    width: 100%
    text-align: right

nav
    padding: 25px 80px

#menu li
    display: inline-block
    margin: 20px 35px
    color: #000
    background:#fff
    background: rgba(255,255,255, 0.5)
    -webkit-border-radius: 10px
            border-radius: 10px

#menu li.active
    background: #666
    background: rgba(0,0,0, 0.5)
    color: #fff

#menu li a
    text-decoration: none
    color: #000

#menu li.active a:hover
    color: #000

#menu li:hover
    background: rgba(255,255,255, 0.8)

#menu li a,
#menu li.active a
    padding: 9px 18px
    display: block

#menu li.active a
    color: #fff

#menu
    position: relative
    top: 0px
    left: 0px
    //height: 40px
    width: 100%
    padding: 0px
    margin: 0px
    font-size: 14px
    text-transform: uppercase

.section
    //text-align: center

.home
    h1
        color: #000
        font-size: 150px
        font-weight: bold
    h2
        color: #000
        font-size: 55px