body
    color: $dark-color
    background-color: $light-color

.container
    display: grid
    grid-gap: 15px
    margin: 0px auto
    width: 80%

.box
    //padding: 50px
    padding: 5vh
    //background-color: lightblue

h1
    //font-size: 40px
    font-size: 5vmin
    //margin-bottom: 35px
    margin-bottom: 3vh
    font-weight: bold

h2
    font-size: 30px
    font-weight: bold
p
    //font-size: 22px
    font-size: 2.3vmin
    line-height: 4vmin

.fp-controlArrow.fp-next,
.fp-controlArrow.fp-prev
    display: none

.text
    position: relative
    background-color: #fff
    .fp-controlArrow.fp-next,
    .fp-controlArrow.fp-prev
        display: inline
        -webkit-user-select: none
        -moz-user-select: none
        -khtml-user-select: none
        -ms-user-select: none
        position: relative
        //z-index: 4
        top: 0px
        right: 0px
        left: 0px
        cursor: pointer
        width: auto
        height: auto
        //background-color: red
        border-style: none
        //margin-top: 0px
        transform: none

button
    float: right
    //padding: 15px 35px
    padding: 1.5vmin 3vmin
    //font-size: 16px
    font-size: 2vmin
    font-weight: bold
    background: none
    border: 2px solid $primary-color
    cursor: pointer

.home
    h1
        margin: 0px
        //font-size: 150px
        font-size: 16vmin
        font-weight: bold
    h2
        //font-size: 55px
        font-size: 5vmin
        font-weight: lighter
    p
        float: left
        padding: 10px 0px

.container.home
    z-index: 10
    position: relative
    //grid-template-columns: 58% 42%
    //grid-auto-rows: 100% 20%
    grid-template-columns: 58vw 42vw
    grid-auto-rows: 80vh 20vh
    width: 100%
    .box
        padding: 5vh 0px
    
.welcome-text, .call-to-action
    margin: 0px auto
    width: 70%

.box.bottom
    border-top: 2px solid gray
    
.welcome-text
    align-self: center
    
.welcome-img
    position: absolute
    top: 0px
    right: 0px
    bottom: 0px
    width: 42%
    background-image: url(../images/welcome-img.jpg)
    background-repeat: no-repeta
    background-size: 160%
    background-position: 0px 50%

.container.company
    grid-template-columns: 5fr 6fr
    .text
        //grid-row-end: span 1
        p
            //margin-bottom: 35px
            margin-bottom: 3vh
        span p
            float: right
            //margin-top: 100px
            margin-top: 5vh
            margin-bottom: 0px
            font-weight: bold
    .img
        grid-row-end: span 14
        background-image: url(../images/working.jpg)
        background-size: cover
        background-repeat: no-repeta

.container.security
    grid-template-columns: 5fr 6fr
    span p
        margin-bottom: 0px
        font-weight: bold
    .img
        //grid-row-end: span 14
        grid-column: 2 / 3
        grid-row: 1 / 4
        background-image: url(../images/security.jpg)
        background-size: 150%
        background-position: top right
        background-repeat: no-repeta

.container.services
    grid-template-columns: 5fr 6fr
    span p
        //margin-top: 100px
        margin-top: 5vh
        margin-bottom: 0px
        font-weight: bold
    .img
        grid-row-end: span 2
        //grid-column: 2 / 3
        //grid-row: 1 / 4
        background-image: url(../images/transport.jpg)
        background-size: cover
        background-position: top right
        background-repeat: no-repeta

.container.contact
    grid-template-columns: 6fr 6fr
    grid-template-rows: auto 1fr 1fr
    .text
        //grid-row-end: span 1
        h1
            align-self: center
            margin-bottom: 0px
        p
            margin-bottom: 0px
        span p
            float: right
            //margin-top: 100px
            margin-top: 5vh
            margin-bottom: 0px
            font-weight: bold
    .main
        grid-row: 2 / 3
    .operational
        grid-row: 3 / 4
    .img
        //grid-row-end: span 14
        grid-column: 1 / 2
        grid-row: 2 / 4
        background-image: url(../images/workers.jpg)
        background-size: 100%
        background-position: 50% 8%
        background-repeat: no-repeta

.container.description
    width: 50%
    //grid-template-rows: 2fr 1fr
    ul
        width: 50%
        font-size: 2.3vmin
        line-height: 4vmin
    .right
        float: right
    .left
        float: left
    span p
        margin-bottom: 0px
        font-weight: bold

.direction
    z-index: 100
    position: absolute
    right: 0px
    bottom: 0px
    padding: 15px 0px
    width: 100%
    background-color: #fff
    .stiky-contact
        position: relative
        padding: 0px 50px
        p
            float: left
            padding-top: 10px

#section1, #section2   
    .container
        margin-top: 100px !important

#section3
    .container
        margin-top: 35px !important

@media (max-width: 1200px)
    .welcome-img
        background-size: cover
    
    .direction
        padding: 0px 0px 15px 0px
        text-align: center
        .stiky-contact
            p
                padding: 10px 0px
            p, button
                float: none
        
@media (max-width: 800px)
    .container.home
        grid-template-columns: 1fr 0fr
        grid-auto-rows: 84vh 16vh
        grid-gap: 0px
        h1, h2
            color: #fff
        button
            //background-color: $primary-color

    .box.bottom
        background-color: #f1f1f1

    .welcome-img
        width: 100%

    .container.company .img 
        grid-row-end: span 10