body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre,
form, fieldset, input, textarea, p, blockquote, th, td, ol, ul {
  padding: 0px;
  margin: 0px;
}

table {
  border-spacing: 0px;
}

fieldset, img {
  border: 0px;
}

address, caption, cite, code, dfn, em, strong, th, var {
  font-weight: normal;
  font-style: normal;
}

strong {
  font-weight: bold;
}

ol, ul {
  list-style: none;
}

caption, th {
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-size: 100%;
  margin: 0px;
  padding: 0px;
}

q:before, q:after {
  content: '';
}

abbr, acronym {
  border: 0px;
}

body {
  color: #161633;
  background-color: #f1f1f1;
}

.container {
  display: -ms-grid;
  display: grid;
  grid-gap: 15px;
}

.box {
  padding: 5vh;
}

h1 {
  font-size: 5vmin;
  margin-bottom: 3vh;
  font-weight: bold;
}

h2 {
  font-size: 30px;
  font-weight: bold;
}

p {
  font-size: 2.3vmin;
  line-height: 4vmin;
}

button {
  float: right;
  padding: 1.5vmin 3vmin;
  font-size: 2vmin;
  font-weight: bold;
  background: none;
  border: 2px solid #fcc722;
  cursor: pointer;
}

.home h1 {
  margin: 0px;
  font-size: 16vmin;
  font-weight: bold;
}

.home h2 {
  font-size: 5vmin;
  font-weight: lighter;
}

.home p {
  float: left;
  padding: 10px 0px;
}

.container.home {
  -ms-grid-columns: 58vw 42vw;
      grid-template-columns: 58vw 42vw;
  grid-auto-rows: 80vh 20vh;
}

.container.home .box {
  padding: 5vh 0px;
}

.welcome-text, .call-to-action {
  margin: 0px auto;
  width: 70%;
}

.box.bottom {
  border-top: 2px solid gray;
}

.welcome-text {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.welcome-img {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  width: 42%;
  background-image: url(../images/welcome-img.jpg);
  background-repeat: no-repeta;
  background-size: 160%;
  background-position: 0px 50%;
}

.text {
  background-color: #fff;
}

.container.company {
  margin: 0px auto;
  width: 80%;
  -ms-grid-columns: 5fr 6fr;
      grid-template-columns: 5fr 6fr;
}

.container.company .text p {
  margin-bottom: 3vh;
}

.container.company .text span p {
  float: right;
  margin-top: 5vh;
  margin-bottom: 0px;
  font-weight: bold;
}

.container.company .img {
  -ms-grid-row-span: 14;
      grid-row-end: span 14;
  background-image: url(../images/working.jpg);
  background-size: cover;
  background-repeat: no-repeta;
}

.container.security {
  margin: 0px auto;
  width: 80%;
  -ms-grid-columns: 5fr 6fr;
      grid-template-columns: 5fr 6fr;
}

.container.security span p {
  margin-bottom: 0px;
  font-weight: bold;
}

.container.security .img {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1 / 4;
  background-image: url(../images/security.jpg);
  background-size: 150%;
  background-position: top right;
  background-repeat: no-repeta;
}

.container.services {
  margin: 0px auto;
  width: 80%;
  -ms-grid-columns: 5fr 6fr;
      grid-template-columns: 5fr 6fr;
}

.container.services span p {
  margin-top: 5vh;
  margin-bottom: 0px;
  font-weight: bold;
}

.container.services .img {
  -ms-grid-row-span: 2;
      grid-row-end: span 2;
  background-image: url(../images/transport.jpg);
  background-size: cover;
  background-position: top right;
  background-repeat: no-repeta;
}

.container.contact {
  margin: 0px auto;
  width: 80%;
  -ms-grid-columns: 6fr 6fr;
      grid-template-columns: 6fr 6fr;
  -ms-grid-rows: auto 1fr 1fr;
      grid-template-rows: auto 1fr 1fr;
}

.container.contact .text h1 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 0px;
}

.container.contact .text p {
  margin-bottom: 0px;
}

.container.contact .text span p {
  float: right;
  margin-top: 5vh;
  margin-bottom: 0px;
  font-weight: bold;
}

.container.contact .main {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
}

.container.contact .operational {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
}

.container.contact .img {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2 / 4;
  background-image: url(../images/workers.jpg);
  background-size: 100%;
  background-position: 50% 8%;
  background-repeat: no-repeta;
}

.container.description {
  margin: 0px auto;
  width: 50%;
}

.container.description ul {
  width: 50%;
  font-size: 2.3vmin;
  line-height: 4vmin;
}

.container.description .right {
  float: right;
}

.container.description .left {
  float: left;
}

.container.description span p {
  margin-bottom: 0px;
  font-weight: bold;
}

.direction {
  z-index: 100;
  position: absolute;
  right: 0px;
  bottom: 0px;
  padding: 15px 0px;
  width: 100%;
  background-color: #fff;
}

.direction .stiky-contact {
  position: relative;
  padding: 0px 50px;
}

.direction .stiky-contact p {
  float: left;
  padding-top: 10px;
}

#section1 .container, #section2 .container {
  margin-top: 100px !important;
}

#section3 .container {
  margin-top: 35px !important;
}

header {
  z-index: 1000;
  position: fixed;
  width: 100%;
  text-align: right;
}

.logo {
  z-index: 1000;
  position: relative;
  float: left;
  padding: 12px 15px;
  text-align: left;
}

.logo img {
  max-width: 200px;
  height: auto;
}

nav {
  z-index: 10;
  position: relative;
  margin: 0px auto;
  padding: 15px 0px;
  width: 95%;
}

nav ul {
  z-index: 100;
}

.nav-background {
  z-index: 0;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 0%;
  height: 100px;
  background-color: #fff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.nav-border {
  z-index: 0;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 0%;
  height: 10px;
  background-color: #fcc722;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.fp-viewing-company-0 .nav-background, .fp-viewing-company-1 .nav-background, .fp-viewing-services-0 .nav-background, .fp-viewing-services-1 .nav-background, .fp-viewing-contacts-0 .nav-background, .fp-viewing-contacts-1 .nav-background {
  width: 100%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.fp-viewing-company-0 .nav-border, .fp-viewing-company-1 .nav-border, .fp-viewing-services-0 .nav-border, .fp-viewing-services-1 .nav-border, .fp-viewing-contacts-0 .nav-border, .fp-viewing-contacts-1 .nav-border {
  width: 80%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#menu li {
  display: inline-block;
  margin: 20px 35px;
  color: #000;
  -webkit-border-radius: 10px;
  -webkit-border-radius-border-radius: 10px;
}

#menu li.active {
  color: #000;
}

#menu li a {
  text-decoration: none;
  color: #000;
}

#menu li.active a:hover {
  color: #000;
}

#menu li a,
#menu li.active a {
  padding: 9px 18px;
  display: block;
  color: grey;
}

#menu li.active a {
  color: #000;
}

#menu {
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  padding: 0px;
  margin: 0px;
  font-size: 14px;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  header {
    -webkit-box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.3);
            box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.3);
  }
  header span {
    z-index: 1000;
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 20px;
    background-color: #fff;
  }
  nav {
    display: -webkit-box;
    padding: 5px 0px;
    width: 100%;
    height: 0px;
    text-align: left;
    background-color: #fcc722;
    overflow: hidden;
    -webkit-transition: .5s ease;
    transition: .5s ease;
  }
  .logo {
    padding: 0px;
    width: 100%;
    background-color: #fff;
  }
  .logo a {
    display: inline-block;
    padding: 20px;
  }
  #menu li {
    display: block;
    margin: 20px 0px;
  }
  #menu li a {
    padding: 9px 20px;
  }
  #menu li.active a {
    padding: 9px 20px;
  }
  .nav-background, .nav-border {
    display: none;
  }
}

input {
  display: none;
}

input#menu-btn:checked ~ nav {
  height: 250px;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}
/*# sourceMappingURL=App.css.map */